*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';

}
.container{
    width: 1200px;
    box-sizing: border-box;
}
:root{
    --main-clr: #D23166;
    --site-link-clr: #9c8d8f;

    }